<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maheshgaya.android.displayjoke">

    <application android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".JokeActivity"
            android:label="@string/joke_app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
